* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.nav {
    height: 60px;
}

.hide {
    display: none;
}

div.wrap.active {
    position: fixed;
    top: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    transition: .5s;
}

/* ------BANER CALY------ */
.banner-wrap {
    position: relative;

}


/* ----LOGO------ */
div.logo {
    position: absolute;
    top: 60px;
    left: 5vh;
    z-index: 1;
    width: 250px;

}


/* ----MENU--- */


.partsMenu {
    position: fixed;
    list-style: none;
    display: flex;
    z-index: 2;
    top: 0px;
    right: 0px;
    padding: 0;
    width: 100%;
    height: 40px;
    border-top: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: 0;
    background-color: black;

}



.partMenu {
    display: block;
    text-transform: uppercase;
    position: relative;
    font-size: 15px;
    color: white;
    margin: 0 20px 0 20px;
    line-height: 1.5;
    border-top: none;
    letter-spacing: 1.2px;
    overflow: hidden;
    cursor: pointer;
    line-height: 30px;
}



.partMenu::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background-color: #ccc;
    transition: 0.4s linear;
}

.partMenu:hover::after {
    left: 0;
}

/* ---HEADER--- */


header div.banner {
    min-height: 100vh;
    position: relative;
    overflow: hidden;

}

div.banner img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

/* ---BANNER-TEXT--- */

.banner-text {
    display: flex;
    position: relative;
    flex-direction: column;
    top: calc(50px + 10vw);
    height: calc(100vh - 50px - 10vw);
    color: white;
    align-items: stretch;
    text-align: center;
    line-height: 1.5;
    justify-content: flex-start;
}


.banner-text h1 {
    font-size: 100px;
    letter-spacing: 3px;
    padding: 0 0 20px 0;
}

.banner-text h2 {
    font-size: 50px;
    font-family: Lato, sans-serif;

}

.banner-text h3 {
    font-size: 30px;
    padding-bottom: 100px;



}

.banner-text h4 {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 2;
}

/* ---ABOUT --- */

.about-wrap {
    margin: 20px;
    display: flex;
}

.about-company {
    max-width: 1600px;
    margin: 50px auto;
    position: relative;
}



/* --ABOUT-TEKST--- */

.about-text {
    color: #373B3A;
    flex-basis: 60vw;
    padding: 10px
}

.about-text h1 {
    padding-bottom: 15px;
    font-size: 60px;
}

.about-text h2 {
    font-size: 40px;
    padding-bottom: 15px;
    border-bottom-style: double
}

.about-text p {

    padding-top: 60px;
    padding-right: 10px;
    font-size: 20px;
    letter-spacing: 1.3px;

}

.about-text :nth-child(4) {
    font-size: 30px;
    letter-spacing: 4px;
    padding-bottom: 0px;
}

.about-text a {
    margin: 5px;
    display: block;
    text-align: center;
    width: 300px;
    font-size: 15px;
    margin-left: 10px;
    color: white;
    border: none;
    background-color: #6F8B00;
    border-radius: 25px;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

.about-text a:hover {
    background-color: #445306;

}

.about-foto {
    flex-basis: 40vw;

    position: relative;
    margin-top: 20px;
    display: flex;


}

.about-foto img {
    top: 0%;
    left: 0%;
    width: 90%;
}


.foto-column {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}



/* ---ABOUT-PROUKTS--- */

.about-product {
    padding: 100px 0;
    color: #fff;
    background-image: url(img/naturalna\ tortilla\ opis\ produktu.jpg);
    width: 100%;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.about-product h1 {
    font-size: 50px;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 80px;

}

.about-product p {
    margin: 0 auto;
    font-size: 40px;
    width: 60%;
}


/* ------KONTAKT--------- */

.contact {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    color: #373B3A;
}


.contact .social span {
    font-size: 13px;
    color: black
}


.contact .socials,
.contact iframe {
    margin: 0 auto;
}

.contact iframe {
    width: 100%;
    margin-top: 80px;
}

.contact .socials {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    padding-top: 10px;


}

.social i {
    font-size: 20px;
    padding: 15px;
    color: #6F8B00;
}

.social p {
    text-transform: uppercase;
    width: 60%;
    font-size: 15px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 10px;
}

.social p::after {
    content: "";
    display: block;
    padding-top: 10px;
    width: 100%;
    border-bottom-style: double
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    padding: 30px 50px 30px 20px;

}



.form h1 {
    width: 100%;
    text-align: center;
    font-size: 60px;
    letter-spacing: 2px;
}

.form h2 {
    text-align: center;
    font-size: 17px;
    padding: 20px;

}

.form input {
    width: 48%;
    height: 50px;
    margin-top: 20px;
    border: solid 2px #6F8B00;
    border-radius: 25px;
    padding: 10px;
}


.form textarea {
    width: 100%;
    margin-top: 20px;
    height: 150px;
    border: solid 2px #6F8B00;
    border-radius: 25px;
    padding: 10px;
}

.form button {
    width: 48%;
    height: 50px;
    margin-top: 20px;
    color: white;
    border: none;
    background-color: #6F8B00;
    border-radius: 25px;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

.form button:hover {
    background-color: #445306;

}

/* ----------PRODUKT GŁÓWNY------ */


.product-title {
    font-size: 60px;
    border-bottom-style: double;
    color: #373B3A;
    margin: 50px;
    max-width: 1600px;
    line-height: 100px;

}

.main-product-border {
    display: flex;
    flex-direction: row;
    text-align: right;
    margin: 50px auto;
    max-width: 1600px;
}

.main-product-wrap {
    position: relative;
    width: 20%;
    font-size: 12px;
    text-align: center;
    padding: 15px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #6F8B00;
    transition: 0.3s;
    cursor: pointer;
}

.main-product-title {
    padding: 18px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.5;

}

.product-icon {
    margin: 0 auto;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50% 50%;
    transition: 0.3s;
}

.main-product-icon {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-product-description {
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;

}

.main-product-wrap:hover {
    background-color: #6F8B00;
    transform: scale(1.1);
}

.main-product-wrap:hover .main-product-description {
    color: white;
}

.main-product-wrap:hover .main-product-title {
    color: white;
}

.main-product-wrap:hover .product-icon {
    background-color: white;

}

/* ----DOSTAWA----- */
.delivery-border {
    padding: 100px 0 50px;
    background-color: #6F8B00;
    display: flex;
    justify-content: center;

}

.delivery-wrap {
    position: relative;
    width: 20%;
    font-size: 12px;
    text-align: center;
    padding: 15px;
    margin: 30px 10px 0px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    cursor: pointer;

}



.delivery-title {
    margin-top: 100px;
    padding: 18px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.5;

}

.delivery-icon {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50% 50%;
    border: #6F8B00 solid 5px;
    background-color: white;

}

.img-delivery-icon {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;

}

.delivery-description {
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;

}

.green {
    display: none;
    transition: 1s;
}

.black {
    display: block;
    transition: 1s;
}


.delivery-wrap:hover .green {
    display: block;
}

.delivery-wrap:hover .black {
    display: none;
}

/* -----PRODUKTY------ */


.products {
    background-image: url(img/produkty\ foto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;

}

.products-title {
    font-size: 60px;
    color: white;
    padding: 50px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;

}

.products-menu {
    list-style: none;
    display: flex;
    z-index: 2;
    top: 0px;
    right: 0px;
    padding: 0;
    width: 100%;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: 0;
    /* background-color: ; */

}


.product-menu {
    display: block;
    text-transform: uppercase;
    position: relative;
    font-size: 15px;
    color: black;
    margin: 60px 10px 0 10px;
    padding: 10px 20px;
    border-top: none;
    letter-spacing: 1.2px;
    overflow: hidden;
    cursor: pointer;
    line-height: 20px;
    background-color: rgba(250, 250, 250, 0.7);
    border-radius: 25px;

}


.products-wrap {
    display: flex;
    direction: row;
    margin: 80px 100px;
    flex-wrap: wrap;
}

.hide {
    display: none;

}

.product-wrap {
    display: flex;
    direction: row;
    width: calc(100%/3 - 20px);
    height: 200px;
    background-color: hsl(0, 0%, 100%, 0.8);
    margin: 10px
}

.product-foto {
    position: relative;
    width: 35%;
}

.product-foto-img {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-description {
    margin: 10px 15px;

}

.product-description-title {
    margin: 20px 0;
    font-size: 20px;

}

.product-description p {
    font-size: 13px;
    line-height: 25px;
}



/* --------MEDIA QUERIES------- */


@media(max-width:1200px) and (orientation:landscape) {

    /* ---LOGO--- */
    div.logo {
        width: 200px;
    }

    /* ---BANNER-TEKST--- */


    .banner-text h1 {
        font-size: 90px;
    }

    .product-foto {
        width: 40%;
    }

}

@media(max-width:1024px) {

    /* ---MENU--- */

    .menuIcon .active {
        display: block;
    }

    .menuIcon i.active {
        position: fixed;
        font-size: 30px;
        width: 50px;
        height: 50px;
        right: 10px;
        top: 10px;
        color: #6F8B00;
        line-height: 50px;
        text-align: center;
        z-index: 3;
    }

    .partMenu::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -100%;
        width: 100%;
        height: 3px;
        /* background-color: #ccc; */
        transition: 0.4s linear;
    }


    .partsMenu {
        position: absolute;
        top: 0px;
        right: 0;
        position: fixed;
        width: 40%;
        height: 100vh;
        background-color: white;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        font-weight: wrap;
        text-align: center;
        right: -100%;
        transition: .5s;
        z-index: 2;
    }

    .partMenu::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -100%;
        width: 100%;
        height: 3px;
        background-color: #ccc;
        transition: 0.4s linear;
    }

    .partsMenu.active {
        right: 0px;
        transition: .5s;
    }


    .partMenu {
        top: 60px;
        color: #6F8B00;
        padding: 20px 0 5px 0;
        font-size: 20px;
        letter-spacing: 1.2px;
        overflow: hidden;
        cursor: pointer;
        border-bottom: 1px solid #6F8B00;
        transition: .5s;
        position: relative;
        line-height: 2;
        letter-spacing: 1.2px;
        overflow: hidden;
        cursor: pointer;
    }

    .partMenu:hover {
        color: #445306
    }

    .partMenu:hover::after {
        width: 0;
        height: 0;
    }

    /* ---BANNER-TEXT--- */

    .banner-text {
        top: 50px;
    }

    /* --ABOUT-TEKST--- */

    .about-text h1 {
        padding-bottom: 10px;
        font-size: 40px;
    }

    .about-text h2 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .about-text p {
        padding-top: 40px;
    }

    .about-text :nth-child(4) {
        font-size: 25px;
    }

    /* ---ABOUT PRODUCT--- */


    .about-product h1 {
        font-size: 45px;
        letter-spacing: 3px;
        width: 70%;

    }

    .about-product p {
        font-size: 35px;
        width: 70%;
    }

    /* ---ABOUT --- */


    .foto-row {
        display: none;
        text-align: center
    }

    /* ---MAIN PRODUCT--- */

    .main-product-border {
        flex-wrap: wrap;
        margin: 50px 50px;
    }

    .main-product-wrap {
        width: 45%;
        margin: 30px auto;

    }

    .main-product-wrap:hover {
        background-color: white;
        transform: none;
        cursor: auto;
    }

    .main-product-wrap:hover .main-product-description {
        color: black;
    }

    .main-product-wrap:hover .main-product-title {
        color: black;
    }

    .delivery-wrap {
        width: 30%;
        cursor: auto;
    }

    .delivery-wrap:hover .green {
        display: none;
    }

    .delivery-wrap:hover .black {
        display: block;
    }

    /* -----PRODUKTY------ */

    .product-menu {
        font-size: 13px;
    }

    .product-wrap {
        width: calc(100%/2 - 20px);
    }

    .product-description-title {
        margin: 10px 0;
    }

}

@media(max-width:912px) {

    /* ---LOGO--- */
    div.logo {

        top: 50px;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
        width: 40vw;
    }

    /* ---BANNER-TEKST--- */

    .banner-text {
        top: calc(90px + 40vw);
    }


    .banner-text h1 {
        font-size: 80px;
        padding-bottom: 0;

    }

    .banner-text h2 {
        font-size: 60px;

    }

    .banner-text h3 {
        font-size: 30px;
        padding-bottom: 70px;


    }

    .banner-text h4 {
        font-size: 20px;
    }

    /* ---PRODUKTY--- */
    .products-wrap {

        margin: 80px 50px;
    }

}

@media(max-width:1023px) and (orientation:landscape) {
    div.logo {
        top: 50px;
        left: 10px;
        transform: translate(0, 0);
        width: 30vw;
    }

    /* ---BANNER-TEXT--- */

    .banner-text {
        top: 50px;
        left: 100px;

    }

    .banner-text h1 {
        font-size: 50px;
    }

    .banner-text h2 {
        font-size: 30px;
    }

    .banner-text h3 {
        font-size: 20px;
        padding-bottom: 50px;
    }

    .banner-text h4 {
        font-size: 15px;

    }

    /* ---ABOUT --- */

    .about-wrap {
        margin: 20px;
        display: flex;
    }

    .about-company {
        max-width: 1600px;
        margin: 50px auto;
        position: relative;
    }
}

@media(max-width:820px) {
    .partsMenu {
        width: 60%;
    }

    .contact {

        position: static;
        display: flex;
        flex-wrap: wrap;
    }

    .form {
        flex-direction: column;
        width: 100%;


    }

    .form h1 {
        font-size: 50px;
        padding-bottom: 10px;
    }

    .form h2 {
        font-size: 15px;
        letter-spacing: 2px;
        padding: 2px;

    }

    .form input {
        width: 100%;

    }


    .form button {
        width: 50%;
        align-self: center;

    }

    .form button:hover {
        background-color: #445306;

    }

    .contact .socials {
        display: flex;
        position: relative;
        width: 100%;
        padding: 0 5%;
        flex-wrap: wrap;

    }

    .social {
        width: 50%;
    }

    /* ---ABOUT --- */


    .about-text :nth-child(4) {
        text-align: center;
    }

    .about-text :nth-child(5) {
        text-align: center;
    }

    .about-text a {
        margin: 10px auto
    }

    .about-wrap {
        flex-direction: column;
    }

    .foto-row {
        display: block;
        text-align: center
    }

}

@media(max-width:540px) {

    /* ---BANNER-TEKST--- */


    .banner-text h1 {
        font-size: 50px;

    }

    .banner-text h2 {
        font-size: 40px;

    }

    .banner-text h3 {
        font-size: 25px;
        padding-bottom: 70px;
    }

    .banner-text h4 {
        font-size: 15px;
        padding: 0 5px;
        max-width: 100%;
    }

    /* ---MAIN PRODUCT--- */

    .product-title {
        font-size: 40px;
        margin: 10px;
    }

    .main-product-border {
        margin: 50px 25px;
    }

    .main-product-wrap {
        width: 100%;
        margin: 25px auto;

    }

    /* --DOSTAWA-- */
    .delivery-border {
        flex-wrap: wrap;
        padding: 0 0 50px;

    }

    .delivery-wrap {
        width: 100%;
        margin: 150px 15px 0px;
    }

    /* ---ABOUT PRODUCT--- */


    .about-product h1 {
        font-size: 30px;
        letter-spacing: 3px;
        width: 90%;
        line-height: 40px;

    }

    .about-product p {
        font-size: 25px;
        width: 90%;
        line-height: 40px;

    }

    /* -----PRODUKTY------ */


    .products {
        background-image: url(img/produkty\ foto\ małe.jpg);
    }

    .products-title {
        font-size: 40px;
        padding: 30px 0;
    }

    .products-menu {
        width: 100%;
        height: 150px;
        flex-wrap: wrap;
    }

    .product-menu {

        margin: 10px 10px 0 10px;
    }


    .products-wrap {
        margin: 20px 20px;
    }


    .product-wrap {
        width: 100%;
    }

}

@media(max-width:414px) {

    /* ---KONTAKT-- */

    .social {
        width: 100%;
    }

}